@import "vars"
@import "fonts"
@import "libs"

/*==========  user style  ==========*/
header
	background: url('../img/Mobile.png') #0ce49f
	height: 100vh
	padding-top: 30px
	.top
		.logo
/*==========  user style  ==========*/

@import "media" // Always at the end